@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5740A1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

h1 {
    color: white;
    letter-spacing: 1px;
}

.content {
    padding: 15px;
    box-shadow: 0 1px 2px #0003;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divSelects {
    display: flex;
    gap: 5px;
}

select {
    width: 50%;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    border-color: #DDD;
    border-radius: 5px;
}